<div>
  <div>

  <% if current_user != nil %>
    <h2>
      Expecting a package?
    </h2>

    <form action="/insert_delivery" method="post">
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="supposed_to_arrive_on_box">
          Supposed to arrive on
        </label>

        <input type="date" id="supposed_to_arrive_on_box" name="query_supposed_to_arrive_on">
      </div>

      <div>
        <label for="details_box">
          Details
        </label>

        <textarea id="details_box" name="query_details" rows="3"></textarea>
      </div>

      <button>
        Log delivery
      </button>
    </form>
  </div>
</div>

<hr>

<div class="waiting_on">
  <h2>Waiting on</h2>
  <ul>

      <li>
        <div>Lightweight Leather Hat</div>

        <div style="">
          Supposed to arrive on
          2024-02-22
        </div>

        <div>
          
        </div>

        <div>
          <form action="/modify_delivery/184045" method="post">
            <input type="hidden" name="arrived" value="true">

            <button>Mark as received</button>
          </form>
        </div>
        
        <br>
      </li>
  </ul>
</div>

<hr>

<div class="received">
  <h2>Received</h2>

  <ul>
      <li>
        <div>Intelligent Concrete Car</div>

        <div>
          <small>
            Updated 40 minutes ago

            <a href="/delete_delivery/184044">Delete</a>
          </small>
        </div>
      </li>
  </ul>
</div>

<% end %>
