<!DOCTYPE html>
<html>
  <head>
    <title>Delivery Tracker 1</title>
  </head>

  <body>

    <% if current_user != nil %>

    <nav>
        <a href="/">Delivery Tracker</a>

        <% if notice.present? %>
        <div style="color: green">
            <%= notice %>
        </div>
        <% end %>

        <% if alert.present? %>
        <div style="color: red">
            <%= alert %>
        </div>
        <% end %>
        |
        <a href="/users/edit">Edit profile</a>
        |
        <a href="/users/sign_out">Sign out</a>
    </nav>

    <% else %>

    <nav>
        <a href="/users/sign_up">Sign up</a>
        |
        <a href="/users/sign_in">Sign in</a>
    </nav>
   
    <% end %>

    <hr>

    <% if current_user != nil %>

        <%= yield %>
   
    <% end %>



  </body>
</html>
