<!DOCTYPE html>
<html>
  <head>
    <title>Delivery Tracker 1</title>

      <style>
  
     .waiting_on {
         background-color: lightgoldenrodyellow;
     }

     .received {
         background-color: lightgreen;
     }

  </style>

  </head>


  <body>

    <% if current_user != nil %>

    <nav>
        <a href="/">Delivery Tracker</a>
        |
        <a href="/users/edit">Edit profile</a>
        |
        <a href="/users/sign_out">Sign out</a>
    </nav>

    <% else %>

    <nav>
        <a href="/users/sign_up">Sign up</a>
        |
        <a href="/users/sign_in">Sign in</a>
    </nav>
   
    <% end %>

    <hr>
        <%= yield %>

  </body>
</html>
